<!DOCTYPE html>
<html>
    <head>
        <%- partial("_shared/head") %>
    </head>
    <body>
        <%- partial("_shared/header") %>
        <%- yield %>
        <%- partial("_shared/footer") %>
    </body>
</html>
