<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <meta name="description" content="<%= description %>">
        <link href="<%= config.assets.folder_css %>/main.css" media="all" rel="stylesheet" />
    </head>
    <body>
        <%- yield %>
    </body>
</html>
