<header>
    <nav>
        <ul>
            <li><a href="<%= pathPrefix %>index.html">Home</a></li>
            <li><a href="<%= pathPrefix %>subfolder/index.html">Subfolder</a></li>
            <li><a class="js--greet">Greet</a></li>
        </ul>
    </nav>
</header>