<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/subfolder">Subfolder</a></li>
            <li><a class="js--greet">Greet</a></li>
        </ul>
    </nav>
</header>