<meta charset="utf-8">
<title><%= meta.title %></title>
<meta name="description" content="<%= meta.description %>">
<link href="<%= config.assets.folder_css %>/application.css" media="all" rel="stylesheet" />
<script src="<%= config.assets.folder_js %>/application.js"></script>